
.main-layout-container {
    min-height: calc(100vh);
    padding: 0 10%;
    padding-top: calc(4rem + 56px);
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    row-gap: 80px;
    margin: auto;
}

.quote {
    padding-top: 56px;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: italic;
}

.main-landing{
    height: calc(100vh - 156px - 4rem);
}

.typewriter {
    font-size: 1.2em;
    padding-top: 200px
}

.typewriter_cursor {
    font-size: 1.2em;
}